<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Setting</title>

    <link rel="stylesheet" href="../cynote.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Buttons/2.0.0/css/buttons.min.css" rel="stylesheet">

</head>

<body>
    <div class="container-fluid">
        <div class="row" id="app">
            <div class="col-md-12 cynote-start cynote-mid">
                <div class="cynote-font-large">
                    <i class="fa" v-bind:class="icons"></i>&nbsp; {{title}}
                </div>
                <hr>
                <div class="cynote-font-mid">{{content}}</div>
                <br>
                <div class="cynote-mid">
                    <input type="text" v-if="lable" v-bind:placeholder="placeholer" class="form-control" v-model="input">
                    <div class="container-fluid" v-for="(i,index) in courses">
                        <div class="col-md-3"><input type="text" v-if="tiger" v-bind:placeholder="placeholer" class="form-control" v-model="courses[index].courseid"></div>
                        <div class="col-md-1">
                            <input type="text" v-if="tiger" placeholder="Sec" class="form-control" v-model="courses[index].section">
                        </div>
                        <div class="col-md-2">
                            <input type="text" v-if="tiger" placeholder="Start" class="form-control" v-model="courses[index].starttime">
                        </div>
                        <div class="col-md-2">
                            <input type="text" v-if="tiger" placeholder="End" class="form-control" v-model="courses[index].endtime">
                        </div>
                        <div class="col-md-3">
                            <input type="checkbox" class="big-checkbox" v-model="courses[index].mon">
                            <input type="checkbox" class="big-checkbox" v-model="courses[index].tue">
                            <input type="checkbox" class="big-checkbox" v-model="courses[index].wed">
                            <input type="checkbox" class="big-checkbox" v-model="courses[index].thu">
                            <input type="checkbox" class="big-checkbox" v-model="courses[index].fri">
                        </div>
                        <div class="col-md-1">
                            <input type="text" v-if="tiger" placeholder="Col" class="form-control" v-model="courses[index].color">
                        </div>
                        <br> </div>
                    priview: {{courses}}
                    <br>
                    <button v-if="skip" v-on:click="skipit" class="button button-pill button-highlight button-large">{{secondbutton}}</button>
                    <button v-on:click="next" class="button button-pill button-primary button-large"><i class="fa fa-arrow-right"></i></button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="http://cdn.bootcss.com/jquery/2.2.3/jquery.js"></script>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
<script src="./start.js">
</script>

</html>